
.resultsContainer {
    display: flex;

    flex-direction: column;

    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;

    background-color: azure;

    .header {
        text-align: center;

        font-size: 1.3em;
        font-weight: bold;

        background-color: bisque;
    }

    .content {
        display: flex;

        .team {
            border: solid;
            border-color: gray;
            border-width: 1px;
        }

        .column {
            border: solid;
            border-color: gray;
            border-width: 1px;
        }

        .description {
            border: solid;
            border-color: gray;
            border-width: 1px;
        }

        .judge {
            border: solid;
            border-color: gray;
            border-width: 1px;

            text-align: center;
        }

        .descriptionContainer {
            display: flex;
        }

        .valueContainer {
            display: flex;
        }

        .value {
            border: solid;
            border-color: gray;
            border-width: 1px;
        }
    }
}
